.card {
  border-radius: 5px;
}
.card .badge {
  margin-right: 5px;
}
.card-header {
  font-weight: bold;
}

h6 {
  font-size: small;
}

.btn_edit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  color: rgb(1, 177, 1);
  font-size: 1.1rem;
}
.btn_delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  color: #eb4242;
  font-size: 1.1rem;
}
