/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
}

th {
  font-weight: 300; 
}
td{
  font-weight: 400;
  font-size: 14px;
}


main {
  margin-top: 80px; 
  font-family: "Poppins", sans-serif;
}

p {
  font-weight: 400; 
}

.login-page {
  font-size: 15px;
}
.mat-card-title {
  text-align: center;
}
.ps-5 {
  padding-left: 3rem !important;
}
.btn-primary {
  outline: none;
  background-color: #ff535b !important;
  border: 1px solid #ff535b !important;
  color: #fff !important;
  box-shadow: 0 3px 5px 0 rgb(255 83 91 / 30%);
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.in {
  font-size: 16px !important;
  font-family: "Nunito", sans-serif;
}
.btn.btn-light {
  color: #3c4858 !important;
  border: 1px solid #dee2e6 !important;
  outline: none;
}
.text-primary {
  color: #ff535b !important;
  text-decoration: none;
}
.fa-brands {
  font-size: 15px;
  color: #ff535b !important;
}

.example-card mat-card-header {
  display: inline;
  color: #ff535b !important;
}

.custom-link {
  color: #ff535b;
  font-size: small;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #f76b72;
  text-decoration: underline;
}

.item {
  font-size: small;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
